body{
font-family: Arial;
background:#111;
color:#fff;
margin:0;
text-align:center;
}

header{
padding:30px;
background:#1c1c1c;
}

h1{
color:#ff6b00;
font-size:40px;
}

.products{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:30px;
}

.card{
background:#222;
width:220px;
padding:20px;
border-radius:12px;
cursor:pointer;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
background:#ff6b00;
}

.invoice-box{
background:#1c1c1c;
padding:20px;
margin:20px auto;
width:60%;
border-radius:12px;
}

button{
background:#ff6b00;
border:none;
padding:10px 20px;
color:white;
border-radius:8px;
cursor:pointer;
margin-top:10px;
}

button:hover{
opacity:0.8;
}
